.Box1{
    width: 500px;
    height: 500px;
    border: 5px solid black;
    border-radius: 10px;
    margin: 400px;
    position: relative;
}
.Box1 .Box2{
    width: 300px;
    height: 300px;
    border: 5px solid brown;
    border-radius: 10px;
    position:absolute;
   
}
.Box1 .Box2 .Box3{
    width: 150px;
    height: 150px;
    border: 5px solid green;
    border-radius: 10px;
    margin-right: 200px;
}
div.Box2{
    left: 50px;
    position: absolute;
    bottom: 100px;
}
div.Box3{
    position: absolute;
    left: 70px;
    bottom: 70px;
}
h1{
    color: green;
    margin: 60px;
    margin-left: 35px;
}
